body {
	background-color: #fffde7;
}

h1{
	font-size: 30px;
	color: #fbb917;">
}

h2{
	font-size: 25px;
	color: #028dc3;
}

h3{
	font-size: 20px;
	color: #d50000;
}

.big {
	font-size: 60px;
}

</body>